.App {
  text-align: center;
}
.main {
  background-color: #e8e8e8;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back {
  background-color: #e8e8e8;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}
.align {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 20vmin;
  pointer-events: none;
}
.App-logo2 {
  animation: App-logo-spin infinite 3s linear;
  height: 20vmin;
  pointer-events: none;
  float: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
